Users:
  <% @users.each do |user| %>
  <div class="user">
    <div class="name">
      Name: <%= user.name %>
    </div>
    <div class="email">
      Email: <%= user.email %>
      <%= button_to 'Edit', "/users/#{user.id}/edit", method: :get %>
    </div>
  </div>
  <% end %>
